{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block extra_header %}
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-1.13.6/af-2.6.0/b-2.4.2/b-html5-2.4.2/date-1.5.1/sl-1.7.0/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-1.13.6/af-2.6.0/b-2.4.2/b-html5-2.4.2/date-1.5.1/sl-1.7.0/datatables.min.js"></script>    
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        {% for mr in month_reports %}
            <li class="nav-item">
                <a
                    class="
                        nav-link 
                        {% if mr.id == month_report.id %} active {% endif %}
                        " 
                    href="{% url 'delta-reports-update' mr.id %}">
                        {{ mr }}
                </a>
            </li>
        {% endfor %}
    </ul>


    <h1>{{ month_report }} - обновить данные по API</h1>
    <form method="POST">
        {% csrf_token %}
        <p>
            <button class="btn btn-lg btn-warning">Обновить данные с Wialon Realcom</button>
        </p>
    </form>
    <div class="table-responsive">
        <table class="table table-bordered my-datatable">
            <thead>
                <tr>
                    <th>Месяц</th>
                    <th>ТС</th>
                    <th>Наименование ТС</th>
                    <th>Начало периода</th>
                    <th>Конец периода</th>
                    <th>Факт КМ</th>
                    <th>Пробег по одометру</th>
                    <th>Пробег в поездках</th>
                    <th>Остаток на начало</th>
                    <th>Нач. уровень</th>
                    <th>Заправка ГСМ</th>
                    <th>Всего заправлено</th>
                    <th>Факт Расход топлива (литр)</th>
                    <th>Норма Расход топлива (литр)</th>
                    <th>Напр.</th>
                    <th>Ср. расход по ДУТ в поездках</th>
                    <th>Ср. расход по ДУТ (весь пробег)</th>
                    <th>По факту</th>
                    <th>Калькуляция нормы расхода</th>
                    <th>Остаток по пут.листу</th>
                    <th>Остаток на конец</th>
                    <th>Кон. уровень</th>
                    <th>Остаток кон.мех.</th>
                    <th>разница</th>
                    <th>Недостача  Излишек</th>
                    <th>Всего топлива слито</th>
                    <th>Прим-ние</th>
                </tr>
            </thead>
                {% for o in delta_reports %}
                    <tr>
                        <td>{{ o.month_report }}</td>
                        <td>{{ o.transport.name }}</td>
                        <td>{{ o.vehicle_name }}</td>
                        <td>{{ o.period_start|date:"Y F d H:i" }}</td>
                        <td>{{ o.period_end|date:"Y F d H:i" }}</td>
                        <td>{{ o.fact_km|floatformat:".2f" }}</td>
                        <td class="table-warning">{% if o.odometer_mileage %}{{ o.odometer_mileage|floatformat:".2f" }}{% endif %}</td>
                        <td class="table-warning">{% if o.trip_mileage %}{{ o.trip_mileage|floatformat:".2f" }}{% endif %}</td>
                        <td>{% if o.start_balance %}{{ o.start_balance|floatformat:".2f" }}{% endif %}</td>
                        <td class="table-warning">{% if o.start_level %}{{ o.start_level|floatformat:".2f" }}{% endif %}</td>
                        <td>{% if o.fueling_gsm %}{{ o.fueling_gsm|floatformat:".2f" }}{% endif %}</td>
                        <td class="table-warning">{% if o.total_refueled %}{{ o.total_refueled|floatformat:".2f" }}{% endif %}</td>
                        <td>{% if o.actual_fuel_consumption %}{{ o.actual_fuel_consumption|floatformat:".2f" }}{% endif %}</td>
                        <td>{% if o.norm_fuel_consumption %}{{ o.norm_fuel_consumption|floatformat:".2f" }}{% endif %}</td>
                        <td>{% if o.departure %}{{ o.departure }}{% endif %}</td>
                        <td class="table-warning">{% if o.avg_trip_dut_consumption %}{{ o.avg_trip_dut_consumption|floatformat:".2f" }}{% endif %}</td>
                        <td class="table-warning">{% if o.avg_dut_consumption %}{{ o.avg_dut_consumption|floatformat:".2f" }}{% endif %}</td>
                        <td>{% if o.actual %}{{ o.actual|floatformat:".2f" }}{% endif %}</td>
                        <td>{% if o.fuel_calculation_norm %}{{ o.fuel_calculation_norm|floatformat:".2f" }}{% endif %}</td>
                        <td>{% if o.departure_balance %}{{ o.departure_balance|floatformat:".2f" }}{% endif %}</td>
                        <td>{% if o.end_balance %}{{ o.end_balance|floatformat:".2f" }}{% endif %}</td>
                        <td class="table-warning">{% if o.end_level %}{{ o.end_level|floatformat:".2f" }}{% endif %}</td>
                        <td>{% if o.end_mech_balance %}{{ o.end_mech_balance|floatformat:".2f" }}{% endif %}</td>
                        <td class="table-warning">{% if o.difference %}{{ o.difference|floatformat:".2f" }}{% endif %}</td>
                        <td>{% if o.deficiency %}{{ o.deficiency|floatformat:".2f" }}{% endif %}</td>
                        <td>{% if o.total_fuel_drained %}{{ o.total_fuel_drained|floatformat:".2f" }}{% endif %}</td>
                        <td>{% if o.note %}{{ o.note }}{% endif %}</td>
                    </tr>
                {% endfor %}
        </table>
    </div>
    <script>
        $(document).ready(function() {
            var table = $('.my-datatable').DataTable( {
                dom: '<"row"<"col"B><"col"i><"col"f>>',
                paging: false,
                // lengthChange: false,
                buttons: ['excel']
            });

            table.buttons().container()
                .appendTo( '.my-datatable .col-sm-6:eq(0)' );
        } );
    </script>
{% endblock %}
