{% extends 'base.html' %}

{% block content %}
    <h1>Получить данные по API</h1>
    <form method="POST">
        {% csrf_token %}
        <button>Получить</button>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Машина</th>
                <th>Месяц</th>
                <th>Пробег по одометру</th>
            </tr>
        </thead>
            {% for car_data in cars_data %}
                <tr>
                    <td>{{ car_data.0.name }}</td>
                    <td>Август</td>
                    <td>{{ car_data.1 }}</td>
                </tr>
            {% endfor %}

    </table>
{% endblock %}