{% extends 'base.html' %}

{% block content %}
    <h1>Получить данные по API</h1>
    <form method="POST">
        {% csrf_token %}
        <button>Получить</button>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Машина</th>
                <th>Месяц</th>
                <th>Пробег по одометру</th>
            </tr>
        </thead>
            <tr>
                <td>Daf 01KG 795AC</td>
                <td>Август</td>
                <td>{{ value }}</td>
            </tr>
        
    </table>
   
    {% if data %}
        <div>
            {{ data }}
        </div>
    {% endif %}
{% endblock %}