<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПЭО Дут Отчёт</title>

</head>
<body>
    <nav>
        <a href="/">Главная</a> |
        <a href="{% url 'drivers-list' %}">Водители</a> |
        <a href="{% url 'transports-list' %}">Машины</a> |
        <a href="{% url 'cards-list' %}">Карты</a> |
        <a href="{% url 'stations-list' %}">АЗС</a> |
        <a href="{% url 'drivers-add' %}">Добавить водителей</a> |
        <a href="{% url 'stations-add' %}">Добавить АЗС</a>

    </nav>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  
    {% block content %}

    {% endblock %}
</body>
</html>